body{
    margin: 0;
}

h1{
    font-family: 'Pacifico', cursive;
}

h1 span{
    background-color: rgb(83, 198, 94);
    border-radius: 100px;
    
}

h2{
    font-family: 'roboto';
}
.p-color{
    color: rgb(139, 139, 139);
}


.banner{
   background-image: url(imagens/background.png);
   height: 600px;
   max-width: 100%;
   background-size: cover;
   display: flex;
   border-top: solid 10px rgb(83, 198, 94);
   color: white;
}

.banner h1{
    font-size: 50px;
}

.intro{
    
    padding: 150px 0 0 286px;

}

.mao{
    
    padding: 95px 0 0 0;
    height: 475px;

}

.icon{
    margin-top: 36px;
}

.icon1 {
    background-color: rgb(83, 198, 94);
    border-radius: 100%;
    border: solid 10px rgb(83, 198, 94);
}

.icon2 {
    background-color: rgb(83, 198, 94);
    border-radius: 100%;
    border: solid 10px rgb(83, 198, 94);
    margin-left: 10px;
}

.icon3 {
    background-color: rgb(83, 198, 94);
    border-radius: 100%;
    border: solid 10px rgb(83, 198, 94);
    margin-left: 10px;
}

.pbanner{
    padding: 10px 20px 0 0;
    width: 450px;
    font-size: 20px;
}

.servicos{
    display: flex;
    height: 170px;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 150px;
    padding-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.imagem {
    border: solid 5px rgb(83, 198, 94);
    border-radius: 100%;
    background-color: rgb(83, 198, 94);
    margin: auto;
    width: 66px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.video-bg{
    background-color: #e6e6e6;
    height: 400px;
}

.video{
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    padding: 45px;
}

.video-texto{
    margin-right: 100px;
}

.video-botao button{
    margin-left: -10px;
    padding: 0 10px;
    height: 37px;
    width: 90px;
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: rgb(83, 198, 94);
    color: white;
    font-size: 1em;
}

.video-botao input{
    height: 35px;
    border-radius: 8px 0 0 8px;
    border: none;
    width: 240px;
    padding: 0 20px;
}

    .depoimentos{
        max-width: 960px;
        margin: 0 auto;
        height: 340px;
        text-align: center;
    }

    /* Depoimento */
    .depoimento-p{
        font-weight: bold;
    }

    .depoimento-img{
        display: flex;
        max-width: 960px;
    }

    .depoimento-img img{
        margin: 0 3px 40px 3px;

    }

    .depoimento-icon .imagem-contato{
        filter: grayscale(100%);
        filter: invert(50%);

    }

    .depoimento-icon img:hover{
        filter: grayscale(0%);
    }

    .rodape{
        background-color: rgb(211, 211, 211);
    }

    .rodape ul{
        display: flex;
        max-width: 1250px;
        list-style: none;
        height: 100px;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-bottom: 0;
    }

    .rodape ul li{
        padding: 0 10px;
        text-align: center;
    }

    .rodape ul li a:link{
        text-decoration: none;
        color: rgb(92, 91, 91);
    }

    .rodape ul li a:hover{
        color: white;
    }


@media (max-width: 767px){
    .intro{
        text-align: center;
        padding-left: 0px;
        margin: auto;
        padding-top: 0px;
    }

    .mao{
        display: none;
    }


    .banner{
        padding: 0;

    }

    .texto{
        text-align: center;
    }

    .servicos{
        padding-top: 100px;
    }



}
